doctype html
html
  head
    include includes/head.pug
    title Server Monitor - Status
      
  body
    include includes/navigation.pug
    #page-wrapper
      h4 Device Status
      each dev, i in devices
        .device(data-component='modal', data-target='#device-modal-' + i)
          h5= dev.name
          div= dev.ip
            if dev.port && dev.port.length
              span(style='color: #bbb')= ':' + dev.port
          i.fa.fa-5x(class='fa-' + dev.icon)
          .status(title='searching...', data-ip=dev.ip, data-port=dev.port)
      
      br(style='clear:both')
      h4(style='margin-top: 20px') Device Support
      each dev in devices
        unless dev.description.hide
          h5(style='margin-bottom: 5px')= dev.name
            each tag in dev.tags
              span.label(class=tag.category, style='margin-left: 5px')= tag.name
          blockquote!= dev.description.tagline
          p!= dev.description.full
          
    each dev, i in devices
      div(id='device-modal-' + i, class='modal-box hide')
        .modal
          span(class='close', style='cursor: pointer')
          .modal-header= dev.name
          .modal-body
            dl
              dt Device/Service Name
              dd= dev.name
              if dev.make && dev.make.length
                dt Manufacturer
                dd= dev.make
              if dev.model && dev.model.length
                dt Model
                dd= dev.model
              dt Network Location
              dd= dev.ip || 'unknown'
                if dev.port && dev.port.length
                  span(style='color: #bbb')= ':' + dev.port
              dt MAC Address
              dd= dev.mac || 'unknown'
              dt 
                | Account Credentials&nbsp;
                span(style='font-weight: 400') (user&nbsp;
                  span(style='color: #bbb') pass
                  | )
              if dev.credentials && dev.credentials.length
                each cred in dev.credentials
                  dd= cred.user
                    span(style='color: #bbb')= ' ' + cred.pass
              else
                dd none provided
              br
              br
              dt Description
              dd!= dev.description.short

    include includes/foot.pug
    script(type='text/javascript').
      
      $(function() {  
        $('.device .status').each(function() {
          console.log($(this).parent().attr('data-target'));
          var that = this;
          $.ajax({
            method: 'get',
            url: '/status/' +
                 $(this).attr('data-ip') + '/' +
                 $(this).attr('data-port'),
            success: function(response) {
              console.log(response);
              $(that).addClass(response).attr('title', response);
            },
            error: function(request, reason, error) {
              if (reason == 'timeout') {
                $(that).addClass('offline').attr('title', 'offline');
              } else {
                console.log(reason);
                console.log(error);
              }
            },
            timeout: 5000
          });
        });
      });
