doctype html
html
  head
    include includes/head.pug
    title Server Monitor - Status
    style.
      ul {
        margin-top: 16px;
      }   
  body
    include includes/navigation.pug
    #page-wrapper
      h4 Device Status
      each dev, i in devices
        .device(data-component='modal', data-target='#device-modal-' + i)
          h5= dev.name
          div= dev.ip
            if dev.port && dev.port.length
              span(style='color: #bbb')= ':' + dev.port
          i.fa.fa-5x(class='fa-' + dev.icon)
          .status(title='searching...', data-ip=dev.ip, data-port=dev.port)
      
      br(style='clear:both')
      h4(style='margin-top: 20px') Device Support
      each dev, i in devices
        unless dev.description.hide
          h5(style='margin-bottom: 5px')= dev.name
            each tag in dev.tags
              span.label(class=tag.category, style='margin-left: 5px')= tag.name
            a.edit-button.float-right(href='#', data-component='modal', data-target='#edit-modal-' + i) Edit
          blockquote!= dev.description.tagline
          p!= dev.description.full

    each dev, i in devices
      .modal-box.hide(id='edit-modal-' + i)
        .modal
          span.close(style='cursor: pointer')
          .modal-header Edit Description
          .modal-body(style='padding: 1.5em')
            // Tagline, Short, Full
            .form-item
              label Tagline
              input#tagline(type='text', value=dev.description.tagline)
            .form-item
              label Short Description
              pre#short(contenteditable='true', spellcheck='false')
                = dev.description.short
                br
            .form-item(style='margin-bottom: 0')
              label Full Description
              pre#full(contenteditable='true', spellcheck='false')
                = dev.description.full
                br
          .modal-footer(style='padding: 0 1.5em 1.5em')
            button(style='display: block; width: 100%') Save

      .modal-box.hide(id='device-modal-' + i)
        .modal
          span.close(style='cursor: pointer')
          .modal-header= dev.name
          .modal-body
            dl
              dt Device/Service Name
              dd= dev.name
              if dev.make && dev.make.length
                dt Manufacturer
                dd= dev.make
              if dev.model && dev.model.length
                dt Model
                dd= dev.model
              dt Network Location
              dd= dev.ip || 'unknown'
                if dev.port && dev.port.length
                  span(style='color: #bbb')= ':' + dev.port
              if dev.mac
                dt MAC Address
                dd= dev.mac
              dt 
                | Account Credentials&nbsp;
                span(style='font-weight: 400') (user&nbsp;
                  span(style='color: #bbb') pass
                  | )
              if dev.credentials && dev.credentials.length
                each cred in dev.credentials
                  dd= cred.user
                    span(style='color: #bbb')= ' ' + cred.pass
              else
                dd none provided
              br
              br
              dt Description
              dd!= dev.description.short

    include includes/foot.pug
    script(type='text/javascript').

      $('#edit-modal button').on('click', function() {

      })

      $('pre').on('keypress', function(e) {
        var keyCode = e.keyCode || e.which
        
        // replace tab with 2 spaces
        if (keyCode == 9) {
          e.preventDefault()
          pasteHtmlAtCaret('  ', false)
        }
      })

      $('.device .status').each(function() {
        var that = this
        $.ajax({
          method: 'get',
          url: `/status/${$(this).attr('data-ip')}/${$(this).attr('data-port')}`,
          success: function(response) {
            $(that).addClass(response).attr('title', response)
          },
          error: function(request, reason, error) {
            if (reason == 'timeout') $(that).addClass('offline').attr('title', 'offline')
            else {
              console.log(reason)
              console.log(error)
            }
          },
          timeout: 5000
        })
      })

      // credit to Tim Down (https://stackoverflow.com/questions/6690752/insert-html-at-caret-in-a-contenteditable-div)
      function pasteHtmlAtCaret(html, selectPastedContent) {
        var sel, range;
        if (window.getSelection) {
          // IE9 and non-IE
          sel = window.getSelection();
          if (sel.getRangeAt && sel.rangeCount) {
            range = sel.getRangeAt(0);
            range.deleteContents();

            // Range.createContextualFragment() would be useful here but is
            // only relatively recently standardized and is not supported in
            // some browsers (IE9, for one)
            var el = document.createElement("div");
            el.innerHTML = html;
            var frag = document.createDocumentFragment(), node, lastNode;
            while ( (node = el.firstChild) ) {
              lastNode = frag.appendChild(node);
            }
            var firstNode = frag.firstChild;
            range.insertNode(frag);

            // Preserve the selection
            if (lastNode) {
              range = range.cloneRange();
              range.setStartAfter(lastNode);
              if (selectPastedContent) {
                  range.setStartBefore(firstNode);
              } else {
                  range.collapse(true);
              }
              sel.removeAllRanges();
              sel.addRange(range);
            }
          }
        } else if ( (sel = document.selection) && sel.type != "Control") {
            // IE < 9
            var originalRange = sel.createRange();
            originalRange.collapse(true);
            sel.createRange().pasteHTML(html);
            if (selectPastedContent) {
              range = sel.createRange();
              range.setEndPoint("StartToStart", originalRange);
              range.select();
            }
        }
      }